.block.multicolumn .multicolumn-card {
    flex-direction: column;
}
.block.multicolumn .multicolumn-card__image-wrapper--full-width {
    width: 100%;
}
.multicolumn-card__image {
    width: 100%;
    height: 100%;
}
.multicolumn-card__info {
    width: 100% !important;
}
.background-none .multicolumn-card__info {
    padding: 2rem 0 0 !important;
}
.multicolumn-card {
    text-align: left;
}
.arrows_wrapper .slider-button {
    z-index: 9;
    background-color: #a4916d;
}
.arrows_wrapper .slider-button .icon {
    height: 1.2rem;
}
.card__inner .hover_button {
    display: none;
}